img {
    margin: 0px;
    padding: 0px;
}

#logo {
    margin-left: 25px;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
}

a.navbar-brand {
    margin: 0px;
    padding: 0px;
}